css
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 30px;
    background-color: #000000; /* Black background */
    color: #FFFFFF; /* White text color */
}

h1 {
    text-align: center;
    color: #FF0000; /* Red title color */
    font-weight: bold;
}

h2 {
    color: #FF0000; /* Red title color*/
}

p {
    text-align: justify;
}

.cursive-font {
    font-family: 'Kaushan Script', cursive;
}
